{{ define "telegram.text" }}
<b>{{if eq .Status "firing"}}
🔥🔥🔥 Status: {{.Status | toUpper}} </b>🔥🔥🔥
{{end -}}
{{if eq .Status "resolved"}}
✅✅✅ Status: {{.Status | toUpper}} </b>✅✅✅{{end }}
<code><b>AlertName:</b> {{ .GroupLabels.alertname }}</code>
ℹℹℹℹℹℹ
<code><u>Description:</u> {{ range .Alerts }}{{ .Annotations.description }}
{{ end }}</code>
<code><u>Value is now:</u> {{ range .Alerts }}{{ .Labels.value }}
{{ end }}</code>
<code><u>Instance:</u> {{ range .Alerts }}{{ .Labels.exported_instance }}
{{ end }}</code>
<code><u>JOB:</u> {{ range .Alerts }}{{ .Labels.job }}
{{ end }}</code>
<code><u>Date:</u> {{ range .Alerts }}{{ .StartsAt }}
{{ end }}</code>
{{ end }}